.sectionTwoContainer {
    background-color: #090909;
    width: 100%;
    padding-bottom: 2vmax;

}

.elementoFotoContainer {
    display: flex;
    justify-content: center;
}

.elementoFoto {
    width: 70%;
    margin-top: -3vmax;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}

.elementoFoto.visible {
    opacity: 1;
    transform: translateY(0);
}



.elementoContainerTexto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0 0 2vmax 0;
    position: relative;
   
   
    
}



.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5vmax 10vmax 0.5vmax 3vmax;
    z-index: 2;
    gap: 1vmax;
}
.diamond {
    width: 8%;
    align-self: self-start;


}
.elementoParrafo {
    font-size: 1.4vmax;
    font-family: 'Excon', sans-serif;
    color: #F7CCCF;
    z-index: 2;
   

}

.linea {
    color: rgb(95, 0, 95);
    z-index: 2;
    width: 30vmax;
    border: solid 1px rgb(96, 0, 96);
    align-self: self-start;
    margin-left: 5vmax;
   
}

.sombra {
  position: absolute; /* Posicionamiento dentro del contenedor */
  top: 40%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste de posición al centro */
  width: 110%; /* Escala para que trascienda los bordes */
  z-index: 1; /* Para que esté detrás de los textos */
  pointer-events: none; /* Hace que la imagen no interfiera con clics u otras interacciones */
}