.sectionTwoContainer {
    background-color: #090909;
    width: 100%;
    padding-bottom: 2vmax;
    
   
   
    

}

.elementoFotoContainer {
    display: flex;
    justify-content: center;
}

.elementoFoto {
    width: 70%;
    margin-top: -4.5vmax;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}

.elementoFoto.visible {
    opacity: 1;
    transform: translateY(0);
}



.elementoContainerTexto {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
   /*  /* overflow: hidden; */
    /* background-image: url('../../image/sombra.png') ;
    background-position:50% 50%; 
    background-size: auto;
    background-repeat: no-repeat;  */
    padding: 2vmax 0;
    position: relative;
   
   
    
}

.elementoTitulo {
    font-size: 4vmax;
    font-family: 'Excon', sans-serif;
    color: #F7CCCF;
    z-index: 2;
}

.elementoParrafo {
    font-size: 1.5vmax;
    font-family: 'Excon', sans-serif;
    color: #F7CCCF;
    z-index: 2;
}

.sombra {
  position: absolute; /* Posicionamiento dentro del contenedor */
  top: 40%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste de posición al centro */
  width: 110%; /* Escala para que trascienda los bordes */
  z-index: 1; /* Para que esté detrás de los textos */
  pointer-events: none; /* Hace que la imagen no interfiera con clics u otras interacciones */
}